<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>企业绩效薪酬管理系统</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</head>

<body>
<div id="content">
    <div class="logoInfo">
        <img src="images/logo-rwhite.png" alt="">
    </div>
    <div class="login log">
        <h2 style="text-align: center;margin-bottom: 20px">手机号密码登录</h2>
        <form th:action="@{/login}" action="login" method="post" class="loginForm">
            <p text="linfo" style="color: red;margin: 5px" th:if="${#request.queryString} eq 'error'">手机号或密码错误！</p>
            <input type="text" name="phonenum" placeholder="请输入编号" style="margin-top: 0px" maxlength="16">
            <input type="password" name="password" placeholder="请输入密码" maxlength="16" minlength="8">
            <div class="yanzhengma" style="display: none">
                <input type="text" class="input1" style="width: 144px" maxlength="4">
                <input type="button" class="checkCode code" style="width:60px" onclick="createCode()"> <a href="#" onclick="createCode()">看不清楚</a>
            </div>
            <button type="button" class="button" onclick="login()">登录</button>
            <p class="skip toRegister">还没有账号？点击此处注册一个吧</p>
        </form>
    </div>
    <div class="login reg" style="display: none">
        <h2 style="text-align: center;margin-bottom: 20px">手机号密码登录</h2>
        <form th:action="@{/register.action}" action="register.action" method="post" class="registerForm">
            <p text="rinfo" style="color: red;margin: 5px"></p>
            <input type="text" name="phonenum" placeholder="请输入手机号"
                   style="margin-top: 0px" maxlength="11">
            <input type="text" name="name" placeholder="请输入真实姓名" maxlength="16">
            <input type="password" name="password" placeholder="请输入密码" maxlength="16" minlength="8">
            <input type="password" name="confim" placeholder="请再次输入密码"
                   maxlength="16">
            <div class="sex">
                男：<input type="radio" name="sex" value="1" checked>
                女：<input type="radio" name="sex" value="0">
            </div>
            <div class="yanzhengma" style="display: none">
                <input type="text" class="input1" style="width: 144px" maxlength="4">
                <input type="button" class="checkCode code" style="width:60px" onclick="createCode()"> <a href="#" onclick="createCode()">看不清楚</a>
            </div>
            <button type="button" class="button" onclick="register()">注册</button>
            <div>
                <p class="skip toLogin">已有账号？点击此处登录</p>
            </div>
        </form>
    </div>
</div>
<img class="imgBack" alt="" src="http://qzonestyle.gtimg.cn/qzone/qzactStatics/imgs/20171123181522_c48800.jpg">
</body>
</html>
